{% extends "base.html" %}

    {% block titulo %} Página de cursos Matriculados/Asignados {% endblock %}

    {% block contenido %}
    <br>
    <p>En esta página se observan los cursos asignados para el profesor o matriculados por el estudiante</p>
    
    <form action="/usuario/cursos/123" method="GET">
        {{ csrf_token }}

        <input type=submit name="" value="Curso 1"> 
    </form>

    <form action="/usuario/cursos/234" method="GET">
        {{ csrf_token }}

        <input type=submit name="" value="Curso 2"> 
    </form>
    
    <form action="/usuario/cursos/678" method="GET">
        {{ csrf_token }}

        <input type=submit name="" value="Curso x"> 
    </form>

    <form action="/usuario" method="GET">
        {{ csrf_token }}

        <input type=submit name="" value="Página de Usuario"> 
    </form>

    {% endblock %}