{% extends "base.html" %}

    {% block titulo %} Ingreso {% endblock %}

    {% block contenido %}
        <form action="/ingreso" method="POST">
            {{ csrf_token }}
            <div>
                <label for="id">ID</label>
                <input type="text" placeholder="id" id="id" name="id">
            </div>
            <div>
                <label for="contraseña">Contraseña</label>
                <input type="password" placeholder="contraseña" id="contraseña" name="contraseña">
            </div>
            <div>
                <label for="categoria">Categoría</label>
                <select id="categoria" name="categoria">
                    <option value="Docente">Docente</option>
                    <option value="Estudiante">Estudiante</option>
                </select>
            </div>
            <input type=submit name="" value="Ingresar"> 
        </form>
    {% endblock %}