{% extends "base.html" %}

    {% block titulo %} Registro {% endblock %}

    {% block contenido %}
        <form action="/registro" method="POST">
            {{ csrf_token }}
            <div>
              <label for="id">ID</label>
              <input type="text" placeholder="id" id="id" name="id">
            </div>
            <div>
              <label for="nombre">Nombre</label>
              <input type="text" placeholder="nombre" id="nombre" name="nombre">
            </div>
            <div>
              <label for="correo">Correo</label>
              <input type="email" placeholder="correo" id="correo" name="correo">
            </div>
            <div>
              <label for="telefono">Telefono</label>
              <input type="text" placeholder="telefono" id="telefono" name="telefono">
            </div>
            <div>
              <label for="contraseña">Contraseña</label>
              <input type="password" placeholder="contraseña" id="contraseña" name="contraseña">
            </div>
            <div>
              <label for="categoria">Categoría</label>
              <select id="categoria" name="categoria">
                <option value="Estudiante">Estudiante</option>
                <option value="Docente">Docente</option>
              </select>
            <input type=submit name="" value="Registrarse">
            </div> 
        </form>
    {% endblock %}