*{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    height: 100%;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/pngwing.com\ \(1\).png);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box{
    width: 370px;
    height: 455px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    border-radius: 10px;
    
}

.button-box{
    text-align: center;
    width: 240px;
    height: 30px;
    padding: 3px;
    margin: 30px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #e0e0e0;
    border-radius: 30px;
    background: linear-gradient(to right, rgba(63,81,181,0.7),rgba(0,188,212,0.7));
}

.input-group{
    top: 100px;
    position: absolute;
    width: 280px;
    transition: 0.8s;
}
.input-field{
    width: 95%;
    padding: 1px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #004d40;
    outline: none;
    background: transparent;
}
.categoria{
    top: 300px;
    position: absolute;
    transition: 0.8s;  
}
.categoriaingreso{
    top: 110px;
    position: absolute;
    transition: 0.8s;  

}
.submit-registro{
    text-align: center;
    width: 100px;
    height: 30px;
    cursor: pointer;
    margin: auto 100px;;
    background: linear-gradient(to right, rgba(63,81,181,0.7),rgba(0,188,212,0.7));
    border: 0px;
    border-radius: 30px;
}
.submit-ingreso{
    text-align: center;
    width: 100px;
    height: 30px;
    cursor: pointer;
    margin: auto 50px;;
    background: linear-gradient(to right, rgba(63,81,181,0.7),rgba(0,188,212,0.7));
    border: 0px;
    border-radius: 30px;
}

.registro{
    width: 100px;
    height: 30px;
    bottom:50% ;
    cursor: pointer;
    margin:auto;
    border: 0px;
    border-radius: 30px;
}

.ingreso{
    width: 100px;
    height: 30px;
    bottom:50% ;
    cursor: pointer;
    margin:auto;
    border: 0px;
    border-radius: 30px;
}
.chec-kbox{
    margin: 30px 10px 30px 0;
}
#ingreso{
    left: 50px;
}
#registro{
    left: 50px;
}
