<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gestor de notas</title>
        <link rel="shortcut icon" href="static/img/pngwing.com (1).png" type="image/x-icon">
        <link rel="stylesheet" href="static/css/estilos.css">
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
             {% endif %}
        {% endwith %}

        <div class="container" >
            <div class="form-box">
                <div class="button-box">
                    <label for="ingreso">Iniciar sesión</label>
                </div>
                <form class="input-group" action="/ingreso" method="POST">
                    {{ csrf_token }}
                    <div>
                        <input type="text"class="input-field" placeholder="usuario" id="usuario" name="usuario">
                        <label for="usuario">Usuario</label>
                    </div>
                    <div>
                        <input type="password"class="input-field" placeholder="contraseña" id="contraseña" name="contraseña">
                        <label for="contraseña">Contraseña</label>
                    </div>
                    <div class="categoriaingreso">
                        <label for="categoria">Categoría</label>
                        <select id="categoria" name="categoria">
                            <option value="Docente">Docente</option>
                            <option value="Estudiante">Estudiante</option>
                        </select>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="ingreso">
                        <input type=submit class="submit-ingreso"  name="" value="Ingresar"> 
                    </div>
                    
                </form>
            </div>
        </div>

        <script>
            var x=document.getElementById("ingreso");
            var z=document.getElementById("elegir");

            function ingreso(){
                x.style.left="50px";
                y.style.left="450px";
                z.style.left="0px";
            }
        </script>
    </body>
</html>
